* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .logo {
  display: flex;
  justify-content: center;
}

header nav {
  padding: 20px 0;
  background-color: #B1D281;
  display: flex;
  justify-content: center;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: large;
  padding: 0 5px;
}

header nav a:hover {
  color: #002D75;
}

header nav .active {
  border-bottom: 5px solid #002D75;
  border-radius: 2px;
  color: #002D75;
}

main {
  background-image: url("/img/fondo-pag-speciali.jpg");
}

main h2 {
  text-align: center;
  color: #002D75;
  padding: 20px 0 10px 0;
}

main .container_cards {
  display: flex;
  flex-wrap: wrap;
}

main .container_cards .container_image {
  position: relative;
  width: calc(100%/3);
}

main .container_cards .container_image .image {
  display: block;
  width: 100%;
  padding: 20px;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

main .container_cards .container_image:hover .image {
  opacity: 0.3;
}

main .container_cards .container_image:hover .overlay_content {
  opacity: 1;
}

main .container_cards .overlay_content {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .container_cards .overlay_content .overlay_image {
  width: 40px;
}

main .container_cards .overlay_content a {
  text-decoration: none;
  color: #002D75;
  line-height: 3;
}

