* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .logo {
  display: flex;
  justify-content: center;
}

nav {
  padding: 20px 0;
  background-color: #B1D281;
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: large;
  padding: 0 5px;
}

nav a:hover {
  color: #002D75;
}

nav .active {
  border-bottom: 5px solid #002D75;
  border-radius: 2px;
  color: #002D75;
}

